@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
}

:root{
  --cor-tema: #83BEDF;
  --cor-dashbord: #F6F6F6;
  --font: normal normal normal 24px 'Montserrat', sans-serif;
  --font-title: normal normal bold 50px 'Montserrat', sans-serif;
  --font-size-regular: 24px;
  --font-size-title:50px;
  
}

.Dashbord-Header-body{
    display: flex;
}

.Dashbord-Header-header{
    height: 23vh;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Dashbord-Header-text-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15vw;
    margin-left: 3vw;
}

.Dashbord-Header-text-icon h1{
    font: var(--font);
    width: auto;
}

.Dashbord-Header-text-icon img{
    max-width: 50px;
    max-height: 50px;
}

.Dashbord-Header-figure{
    align-self: center;
    margin-right: 3vw;
}

.Dashbord-Header-header-infos{
    height: 8vh;
    width: 100%;
    align-self: flex-end;
    display: flex;
    border-top: 2px solid #E9E9E9;
    border-bottom: 2px solid #E9E9E9;
}

.Dashbord-Header-count{
    width: 20%;
    height: 100%;
    border-right: 2px solid #E9E9E9;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Dashbord-Header-count span{
    font: var(--font-title);
    color: var(--cor-tema);
}

.Dashbord-Header-count h1{
    font: var(--font);
}

.Dashbord-Header-view-options{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
}

.Dashbord-Header-form{
    margin-left: 3vw;
}

.Dashbord-Header-form label{
    font: var(--font);
   
}

.Dashbord-Header-select{
    width: 15vw;
    height: 5vh;
    border:  2px solid #E9E9E9;
    border-radius: 10px;
    font: var(--font);
    text-align: center;
}