@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box
}

:root{
  --cor-tema: #83BEDF;
  --cor-dashbord: #F6F6F6;
  --font: normal normal normal 24px 'Montserrat', sans-serif;
  --font-title: normal normal bold 50px 'Montserrat', sans-serif;
  --font-size-regular: 24px;
  --font-size-title:50px;
  
}

.Flex-center-bt{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.Flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header{
  width: 100vw;
  height: 75px;
  margin-top: 10px;
}

.App-nav{
  width: 90%;
  margin: auto;
}

.App-ul{
  width: 38vw;
  font: var(--font);
  list-style: none;
}

.App-a{
  color: black;
  text-decoration: none;
  font-size: var(--font-size-regular);
}

.App-a:hover{
  color: var(--cor-tema);
}

.App-a-login{
  padding: 20px 40px;
  border-radius: 30px;
  background-color: var(--cor-tema);
  font: var(--font);

  font-weight: bold;
  color: white;
  text-decoration: none;
}

/* início main */

.App-main{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 10vh;
}

.App-text{
  width: 50vw;
  height: 80vh;
  flex-direction: column;
}

.App-h1-p{
  width: 60%;
  height: 50%;
}

.App-h1-p h1{
  font: var(--font-title);
  margin-bottom: 50px;
}

.App-h1-p p{
  text-align: justify;
  font: var(--font);
  
}

.App-ilustration{
  width: 50vw;
  height: 80vh;
  display: flex;

}